/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-size: 1.2em;
	line-height: 1.4;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: #efefef;
  box-sizing: border-box;
  cursor: default;
}
ol, ul {
	list-style: none;
}
.bulleted {
  list-style-type: disc;
  padding-left: 1em;
}
li {
  margin: 0 0 1em 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
  margin: 0 0 1em 0;
}
h4 {
  font-weight: bold;
}
p {
  margin: 0 0 1em 0;
}
strong {
  font-weight: bold;
}

header {
  background: #222;
  padding: 10em 0;
  color: white;
}

.user-guide-header {
  background: #333;
  color: white;
  padding: 5em 0 0 0;
  position: relative;
}

.profile-pic {
  position: relative;
  top: 2.5em;
  border-radius: 999px;
  width: 150px;
}

.wrapper {
  // background-image: url('dash.png');
  // background-repeat: repeat-y;
  // background-position: center;
  padding-top: 4em;
	> h2 {
		background: #222;
	  color: white;
	  display: inline-block;
	  padding: .5em 1em;
	  margin: 0 0 .25em 0;
	}
}

.white-box {
  background: white;
  text-align: left;
  padding: 2em;
  width: 95%;
  max-width: 500px;
  margin: 0 auto 2em auto;
	h3 {
		font-weight: bold;
	}
}

.journey {
	position: relative;
	max-width: 550px;
	margin: 1em auto;
	> div {
		position: relative;
		padding-top: 1em;
		&:first-of-type {
			padding-top: 0;
		}
	}
	h2 {
		margin-bottom: .5em;
		text-align: left;
		margin-left: 90px;
	}
}
.timeline-line {
	position: absolute;
	width: 2px;
	top: 0;
	left: 40px;
	bottom: 0;
	background: red;
}
.touchpoint-wrapper {
	display: flex;
	margin-bottom: 1em;
	&:last-of-type {
		margin-bottom: 0;
	}
	.date {
		color: white;
		margin-right: 8px;
		height: 24px;
		width: 60px;
		text-align: center;
		padding: .2em .5em;
		border-radius: 999px;
		position: relative;
	}
	.touchpoint {
	  flex: 1;
		background: white;
	  text-align: left;
	  padding: 1em;
	  width: 95%;
	  max-width: 500px;
		flex-wrap:wrap;
		p {
			width: 100%;
			margin-bottom: 0;
		}
	}
}

@mixin timeline-colorizer($color) {
	h2 {
		color: $color;
	}
	.timeline-line {
		background: $color;
	}
	.date {
		background: $color;
	}
}

.discovery {
	@include timeline-colorizer(#222);
}
.habit-building {
	@include timeline-colorizer(#222);
}
.experience {
	@include timeline-colorizer(#222);
}
.exploration {
	@include timeline-colorizer(#222);
}
.specialization {
	@include timeline-colorizer(#222);
}
.mastery {
	@include timeline-colorizer(#222);
}
